/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: #7b7b7b;
}
ul {
    list-style: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

/* Left nav */
.left-nav {
    display: flex;
    margin-left: .3rem;

}

.arrow {
    margin-right: .5rem;
    background-color: #e8e6ed;
    padding: .3rem .6rem;
    border-radius: 5px;
}

.nav-search-wrapper {
    position: relative;
}

.nav-search-wrapper i {
    position: absolute;
    top: 5px;
    left: 5px;
}

.nav-search {
    font-size: 1rem;
    padding: 5px 5px 5px 25px;
    background-color: #e8e6ed;
    border: 0;
    border-radius: 5px;
}

/* Center nav */
.main-nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.main-nav-item {
    text-align: center;
}

.main-nav-item.active {
    color: #0e71eb;
}

.main-nav-item i {
    margin-bottom: .2rem;
    font-size: 1.5rem;
}

/* Right nav */
.right-nav {
    margin-right: 30px;
}

.login-button {
    padding: .8rem;
    font-size: 1.5rem;
    color: white;
    border-radius: 5px;
    background-color: #53ae98;
}


/* MAIN */
main {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
}

.options {
    position: absolute;
    top: 20px;
    right: 20px;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions-container {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    height: 50%;
    margin-right: 8%;
}

.action-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    font-size: 3rem;
    color: white;
    background-color: #0e71eb;
    margin-bottom: .5rem;
}

.action-btn.active {
    background-color: orange;
}

.calendar {
    width: 30%;
    height: 50%;
    border: 1px solid #7b7b7b;
    border-radius: 10px;
}

.calendar-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background-image: url(../img/sfondo.png);
    background-size: cover;
    color: white;
}

.time {
    font-size: 1.5rem;
}

.calendar-meetings {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}



