/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: #7b7b7b;
}
ul {
    list-style: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

/* Left nav */
.left-nav {
    display: flex;
    margin-left: .3rem;

}

.arrow {
    margin-right: .5rem;
    background-color: #e8e6ed;
    padding: .3rem .6rem;
    border-radius: 5px;
}

.nav-search-wrapper {
    position: relative;
}

.nav-search-wrapper i {
    position: absolute;
    top: 5px;
    left: 5px;
}

.nav-search {
    font-size: 1rem;
    padding: 5px 5px 5px 25px;
    background-color: #e8e6ed;
    border: 0;
    border-radius: 5px;
}

/* Center nav */
.main-nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.main-nav-item {
    text-align: center;
}

.main-nav-item.active {
    color: #0e71eb;
}

.main-nav-item i {
    margin-bottom: .2rem;
    font-size: 1.5rem;
}

/* Right nav */
.right-nav {
    margin-right: 30px;
}

.login-button {
    padding: .8rem;
    font-size: 1.5rem;
    color: white;
    border-radius: 5px;
    background-color: #53ae98;
}


/* MAIN */
main {
    width: 100%;
    height: calc(100vh - 100px);
    /* TEST */
    background-color: pink;
}

